{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Q_App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_forms.css' %}">
</head>
<body>
	<header>
		Thapar Eats: Reset Password
	</header>
	<form method="POST" action="/fpd_submit/" id="lgnfrm">{% csrf_token %}
		<input type="text" name="roll" placeholder="Roll Number"><br>
		<input type="password" name="wpd" placeholder="Webkiosk Password"><br>
		<input type="password" name="psk" placeholder="New Password"><br>
		<input type="password" name="pskcnf" placeholder="Password Confirm"><br>
		<button type="submit">Update Password</button>
	</form>
	<br><br>
	<a href="/">Go Home</a>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
</body>
</html>