{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Q_App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_forms.css' %}">
</head>
<body>
	<header>
		Thapar Eats
	</header>
	<form method="POST" action="/login/" id="lgnfrm">{% csrf_token %}
		<input type="text" name="uname" placeholder="Username"><br>
		<input type="password" name="psk" placeholder="Password"><br>
		<button type="submit">Log In</button>
	</form>
	<br><br>
	<a href="/register/">Register</a>
	<a href="/fpwd/">Forgot Password</a>

	{% if eMsg %}
	<div class="messagePrompt">
		<img src="{% static 'images/black.png' %}" class="hideImg">
		<img src="{% static 'images/close.png' %}" class="closeImg">
		<div class="content">{{ eMsg }}</div>
	</div>
	{% endif %}
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/prompts.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
</body>
</html>